@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* ==========HEROE DE LAS PAGINAS ============== */
.hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

    .hero::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30%;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    }

/* Título */
.hero-title {
    font-size: 48px;
    font-weight: 700;
    color: var(--color-wya-1);
    position: relative;
    z-index: 1;
}

/* Subtítulo */
.hero-subtitle {
    font-size: 24px;
    color: var(--color-wya-1);
    position: relative;
    z-index: 1;
}

/* Estilos para mobile */
@media (max-width: 768px) {
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 20px;
    }

    .hero-title {
        font-size: 32px;
        text-align: center;
    }

    .hero-subtitle {
        font-size: 18px;
        text-align: center;
    }
}

/* ======================================== */

/* Scroll Down */
.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.scroll-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: var(--color-wya-3);
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

    .scroll-arrow:hover {
        background-color: var(--color-wya-5);
    }

    .scroll-arrow svg {
        width: 40px;
        height: 40px;
    }

/* ===BOTON DE NOT FOUND=== */
.btn-outline {
    background-color: transparent;
    border: 2px solid;
    transition: all 0.3s ease;
    font-weight: bold;
}

    .btn-outline:hover {
        background-color: var(--color-wya-3);
        color: #ffffff;
    }

        .btn-outline:hover i {
            color: #ffffff;
        }

/* ===ERROR PAGE ===== */
.error-page {
    background-color: var(--color-wya-1);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

    .error-page .container {
        text-align: center;
    }

.error-page-image-container {
    display: flex;
    justify-content: center;
}

.error-page-image {
    max-width: 800px;
    width: 100%;
    max-width: 60vw;
    display: block;
}

.error-page-not-found {
    font-size: calc(2rem + 2vw);
    font-weight: bold;
    color: var(--color-wya-3);
    margin-top: -1rem;
    text-align: center;
}

/* =====CARDS ======== */
.title {
    text-align: left;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-wya-3);
}
    .sub-title {
        text-align: left;
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--color-wya-3);
    }
.carousel {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
/* =====CARDS ======== */
.icon-card {
    background-color: #fff;
    border-radius: 10px 10px 0 10px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px auto;
    margin-top: -80px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card-2 {
    background-color: var(--color-wya-5);
    color: var(--color-wya-1);
    border-radius: 0 30px 30px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 20px 20px 20px;
    min-height: 350px;
    z-index: 9999;
}
    .card-2 h3 {
        color: var(--color-wya-1);
        font-weight: bold;
    }
.card {
    flex: 0 0 calc(100% / 3 - 20px);
    margin: 10px;
    background: #fff;
    border-radius: 30px 30px 30px 0px;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

    .card img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 30px 30px 0 0;
        margin-bottom: 0.8rem;
    }

.card-content {
    padding: 1rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card p {
    text-align: justify;
    text-align-last: justify;
    width: 100%;
    color: var(--color-wya-2);
    margin: 0;
}

.card h3 {
    color: var(--color-wya-3);
    font-weight: bold;
}

.contenedor-boton {
    text-align: right;
    margin-top: auto;
}

.btn-more {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.6rem 1.2rem;
    background: var(--color-wya-1);
    color: var(--color-wya-3);
    border: 2px solid var(--color-wya-3);
    text-decoration: none;
    border-radius: 20px;
    width: auto;
    max-width: fit-content;
}

    .btn-more:hover {
        background-color: var(--color-wya-3);
        color: var(--color-wya-1);
    }

/* Indicators and Controls */
.indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 10px;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

    .dot.active {
        background: #3F1AA7;
    }

.prev, .next {
    background: var(--color-wya-3);
    color: #ffffff;
    font-size: 1rem;
    /* padding: 0.4rem 0.8rem; */
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .prev:hover, .next:hover {
        background: var(--color-wya-5);
    }

/* Responsive adjustments */
@media (max-width: 995px) {
    .card {
        flex: 0 0 calc(100% / 2 - 20px);
    }
}

@media (max-width: 769px) {
    .card {
        flex: 0 0 calc(100% - 20px);
    }

    .indicators {
        gap: 5px;
    }

    .prev, .next {
        padding: 0.3rem 0.6rem;
        font-size: 0.9rem;
    }
}


/* =============FEATURES ========= */


.features-section {
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.column {
    flex: 1;
    text-align: center;
    padding: 20px;
    border-radius: 30px 30px 30px 0;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-none {
    flex: 1;
    text-align: center;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

    .column-none h3 {
        font-weight: bold;
        color: var(--color-wya-3);
        margin-bottom: 10px;
        text-align: left;
    }

    .column-none p {
        font-size: 16px;
        color: var(--color-wya-2);
        text-align: left;
        margin: 0;
    }

.column:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 10%;
    height: 80%;
    width: 3px;
    background-color: var(--color-wya-3);
}


.column h3 {
    font-weight: bold;
    color: var(--color-wya-3);
    margin-bottom: 10px;
}

.column p {
    font-size: 16px;
    color: var(--color-wya-2);
    text-align: center;
    margin: 0;
}

@media (max-width: 768px) {
    .features-section {
        flex-direction: column;
    }

    .column:not(:last-child)::after {
        display: none;
    }

    .column {
        margin-bottom: 20px;
    }
}

.features-section img {
    height: 400px;
}

@media (max-width: 769px) {
    .features-section img {
        display: none;
    }
}


/*===============POP UP DEWHATSAPP ===============*/

.whatsapp-btn {
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 1000;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25D366 !important; /* Color oficial de WhatsApp */
    border: none;
    animation: pulse 2s infinite;
    transition: all 0.3s ease;
}

    .whatsapp-btn:hover {
        transform: scale(1.1);
        background-color: #20b956 !important;
    }

    .whatsapp-btn i {
        font-size: 2rem;
    }

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7);
    }

    70% {
        box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
    }
}


/*=========ANIMACION DE LAZY LOADING ============*/
/* Fade-in animation */
@@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section-animate {
    opacity: 0; /* Initially hidden */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

    .section-animate.visible {
        opacity: 1;
        animation: fadeIn 0.6s ease-out forwards;
    }


/*=================FONDO DEGRADADO DE SECCIONES=================*/
.section-group {
    position: relative;
    background: linear-gradient( to bottom, rgba(255, 255, 255, 0) 0%, #F7E0FF 40%, #F7E0FF 10%, rgba(255, 255, 255, 0) 100% );
    z-index: 1;
}

    .section-group::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: inherit;
        filter: blur(10px);
        z-index: -1;
    }
/*===========CARD PARA ACORDEONES HORZIONTALES ==========*/
.card-3 {
    background-size: cover;
    background-position: center;
    border-radius: 30px 0 30px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 300px;
    padding: 2rem;
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

.value-column {
    border-radius: 150px 150px 150px 0;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
    padding: 2.5rem;
    margin: 1.5rem;
    color: white;
    text-align: center;
    min-height: 550px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .value-column.morado {
        background-color: var(--color-wya-5);
    }

    .value-column.white {
        background-color: #fff;
        color: var(--color-wya-5);
    }

    .value-column p {
        text-align: justify;
        width: 100%;
        margin: 0;
        padding: 0 10px;
        box-sizing: border-box;
    }

.value-number {
    font-size: 9rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: -8rem;
}

@media (max-width: 1200px) {
    .value-column {
        margin: 1rem;
        min-height: 400px;
    }

    .row.mt-4 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
        box-sizing: border-box;
    }

    .value-number {
        font-size: 7rem;
        margin-top: -6rem;
    }
}

@media (max-width: 768px) {
    .value-column {
        min-height: 350px;
        margin: 0.5rem;
        padding: 1.5rem;
    }

    .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;

    }

    .value-number {
        font-size: 5rem;
        margin-top: -4rem;
    }

    .container[style*="margin-top"] {
        margin-top: -100px !important;
    }
}

/*========APARTADO DE CSS PARA CONTACTO ============*/
.custom-btn {
    background-color: #851EAC;
    background-color: #6b178a;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 25px;
    font-weight: 500;
    transition: background 0.3s ease;
    font-size: 1.3rem;
}

    .custom-btn:hover {
        background-color: #851EAC;
        color: #fff;
    }

.contact-section {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 100%), url('/images/bg-contacto.svg');
    background-size: cover;
    background-position: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.card-4 {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 50px 0 50px 0;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

    .card-4 img {
        max-width: 100%;
        max-height: 60px;
        object-fit: contain;
    }

.card-5 {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex: 0 0 calc(100% / 4 - 20px);
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
    .card-5 img {
        max-width: 100%;
        max-height: 120%;
        object-fit: contain;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
    }

/*========== SECCION PARA OPORTUNIDADES ACTUALES ==============*/
.wrapper-carrera {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-carrera {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card-carrera {
    width: 150px;
    height: 450px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
    position: relative;
}

    .card-carrera > .row-carrera {
        color: white;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
    }

        .card-carrera > .row-carrera > .icon-carrera {
            border-radius: 50%;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 15px;
        }

        .card-carrera > .row-carrera > .description-carrera {
            display: flex;
            justify-content: center;
            flex-direction: column;
            overflow: hidden;
            height: 120px;
            width: 520px;
            opacity: 0;
            transform: translateY(30px);
            transition: all .3s ease;
        }

.description-carrera p {
    color: white;
    padding-top: 5px;
    font-size: 1.2rem;
}

.description-carrera h4 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: bold;

}

.card-carrera > .row-carrera > .vertical-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease, visibility .3s ease, display .3s ease;
}

.vertical-title h4 {
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;

}

input {
    display: none;
}

    input:checked + label {
        width: 600px;
    }

        input:checked + label .description-carrera {
            opacity: 1 !important;
            transform: translateY(0) !important;
        }

        input:checked + label .vertical-title {
            opacity: 0;
            visibility: hidden;
            display: none;
        }

.card-carrera[for="c1"] {
    background-image: url('https://picsum.photos/500/300?random=1');
}

.card-carrera[for="c2"] {
    background-image: url('https://picsum.photos/500/300?random=2');
}

.card-carrera[for="c3"] {
    background-image: url('https://picsum.photos/500/300?random=3');
}

.card-carrera[for="c4"] {
    background-image: url('https://picsum.photos/500/300?random=4');
}


/*=============CUSTOMIZACION DE LA BARRA =============*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#ae54d0, #7b03a8);
    border-radius: 0;
}

    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(#9d4bc0, #6a0294);
    }

/*==========PORQUE SOLUCIONES INTEGRALES===============*/

.circle-num {
    width: 60px;
    height: 60px;
    background: #fff;
    color: #7B2CBF;
    border: 6px solid #7B2CBF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    font-size: 1.6rem;
}

.d-flex.position-relative:not(:last-child)::before {
    content: '';
    position: absolute;
    left: 27px;
    top: 50px;
    width: 6px;
    height: calc(100% + 16px);
    background: #7B2CBF;
    z-index: 0;
}


/*ESTILOS PARA- el BOTON DE- SCROLL 
*/
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-wya-5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 9998;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

    .back-to-top.show {
        opacity: 1;
        visibility: visible;
    }

    .back-to-top:hover {
        background-color: var(--color-wya-3);
    }
