:root {
    --color-wya-1: #ffffff; /* Blanco */
    --color-wya-2: #000000; /* Negro */
    --color-wya-3: #851eac; /* Morado principal */
    --color-wya-4: #E8C6F5; /* Morado claro */
    --color-wya-5: #631681; /* Morado oscuro */
    --color-wya-6: #7E14A7; /* Morado oscuro */
}

/*
    ================
    BACKGROUND-COLOR
    ================
*/
.bg-wya-1 {
    background-color: var(--color-wya-1);
}

.bg-wya-2 {
    background-color: var(--color-wya-2);
}

.bg-wya-3 {
    background-color: var(--color-wya-3);
}

.bg-wya-4 {
    background-color: var(--color-wya-4);
}

.bg-wya-5 {
    background-color: var(--color-wya-5);
}

/*
    ==========
    TEXT COLOR
    ==========
*/
.text-wya-1 {
    color: var(--color-wya-1);
}

.text-wya-2 {
    color: var(--color-wya-2);
}

.text-wya-3 {
    color: var(--color-wya-3);
}

.text-wya-4 {
    color: var(--color-wya-4);
}

.text-wya-5 {
    color: var(--color-wya-5);
}
