@{
    ViewData["Title"] = "Services";
}


<section class="hero d-flex align-items-center" style="background-image: url('/images/banner-servicios.webp');">
    <div class="container text-start">
        <h1 class="hero-title">
            Fibra Optica para tu
            Empresa
        </h1>
        <p class="hero-subtitle"> Conéctate con nosotros a la velocidad de la fibra óptica. </p>
        <div class="scroll-down">
            <a href="#next-section" class="scroll-arrow">
                <svg width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="var(--color-wya-1)" stroke-width="2">
                    <path d="M12 5v14m7-7-7 7-7-7" />
                </svg>
            </a>
        </div>
    </div>
</section>
