@{
    ViewData["Title"] = "Telefonia Voip";
}


<section class="hero d-flex align-items-center" style="background-image: url('/images/bg-telefonia.webp');">
    <div class="container text-start">
        <h1 class="hero-title">Soluciones para Call Center</h1>
        <p class="hero-subtitle">Potencian la productividad y mejoran la experiencia de tus clientes. </p>
        <div class="scroll-down">
            <a href="#next-section" class="scroll-arrow">
                <svg width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="var(--color-wya-1)" stroke-width="2">
                    <path d="M12 5v14m7-7-7 7-7-7" />
                </svg>
            </a>
        </div>
    </div>
</section>
<div id="next-section" class="section-group">
    <section class="section-animate text-center my-5">
        <div class="features-section row justify-content-center">
            <div class="column col-md-4 ">
                <h3><i class="fa-solid fa-desktop"></i> Interfaz web</h3>
                <p>Simplicidad a la hora de crear o configurar campañas, formularios, IVR o colas de llamadas.</p>
            </div>
            <div class="column col-md-4 ">
                <h3><i class="fa-solid fa-phone-volume"></i> Lanzador de llamadas</h3>
                <p>Permite realizar llamadas automáticas a bases de datos de clientes mediante un Call Center completamente virtual.</p>
            </div>
            <div class="column col-md-4 ">
                <h3><i class="fa-solid fa-microphone-lines"></i> Grabación de llamadas</h3>
                <p>Supervisa y almacena las comunicaciones entre los operadores y tus clientes para control y calidad del servicio.</p>
            </div>
        </div>

        <div class="features-section row justify-content-center">
            <div class="column col-md-4 ">
                <h3><i class="fa-solid fa-headset"></i> Espía y modo susurro</h3>
                <p>Supervisa las conversaciones desde la centralita virtualizada y brinda asistencia sin ser detectado por el cliente.</p>
            </div>
            <div class="column col-md-4 ">
                <h3><i class="fa-solid fa-robot"></i> Marcador predictivo</h3>
                <p>Genera llamadas automáticas buscando la mayor eficiencia y productividad de tu equipo.</p>
            </div>
            <div class="column col-md-4 ">
                <h3><i class="fa-solid fa-chart-column"></i> Reportes y estadísticas</h3>
                <p>Accede a informes en tiempo real, gráficos personalizables y estadísticas detalladas del desempeño de los agentes.</p>
            </div>
        </div>
    </section>
</div>
