@{
    ViewData["Title"] = "Carrera";
}

<section class="hero d-flex align-items-center" style="background-image: url('/images/banner-carrera.webp');">
    <div class="container text-start">
        <h1 class="hero-title">Trabaja con nosotros en WYA</h1>
        <p class="hero-subtitle">Únete a Nuestro Equipo en WYA SOLUCIONES INTEGRALES </p>
        <div class="scroll-down">
            <a href="#next-section" class="scroll-arrow">
                <svg width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="var(--color-wya-1)" stroke-width="2">
                    <path d="M12 5v14m7-7-7 7-7-7" />
                </svg>
            </a>
        </div>
    </div>
</section>

<div class="section-group">
    <section class="py-5">
        <div class="container">
            <h1 class="title text-center mb-4">CANALES</h1>
            <h3 class="sub-title text-center mb-4">
                Los canales oficiales de reclutamiento se encuentran en las siguientes páginas web
            </h3>
            <div class="d-flex flex-wrap justify-content-center">
                <div class="card card-4">
                    <img src="/images/logo-linkedin.svg" alt="Linkedin">
                </div>
                <div class="card card-4">
                    <img src="/images/logo-bomberan.svg" alt="Boomberano">
                </div>
                <div class="card card-4">
                    <img src="/images/logo-computrabajo.svg" alt="CompuTrabajo">
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <h1 class="title text-center mb-4">OPORTUNIDADES ACTUALES</h1>
        <div class="container card-3 p-5" style="background-image: url('/images/nuestrosvalores.webp');">
            
        </div>
        <div class="p-5" style="margin-top:-200px;">
            <div class="wrapper-carrera">
                <div class="container-carrera">
                    <input type="radio" name="slide-carrera" id="c1" checked>
                    <label for="c1" class="card-carrera">
                        <div class="row-carrera">
                            <div class="icon-carrera">1</div>
                            <div class="description-carrera">
                                <h4>Desarrollador Web</h4>
                                <p>Únete a nuestro equipo de desarrollo para crear soluciones innovadoras.</p>
                            </div>
                        </div>
                    </label>
                    <input type="radio" name="slide-carrera" id="c2">
                    <label for="c2" class="card-carrera">
                        <div class="row-carrera">
                            <div class="icon-carrera">2</div>
                            <div class="description-carrera">
                                <h4>Analista de Datos</h4>
                                <p>Analiza datos para impulsar decisiones estratégicas.</p>
                            </div>
                        </div>
                    </label>
                    <input type="radio" name="slide-carrera" id="c3">
                    <label for="c3" class="card-carrera">
                        <div class="row-carrera">
                            <div class="icon-carrera">3</div>
                            <div class="description-carrera">
                                <h4>Especialista en Marketing</h4>
                                <p>Crea campañas impactantes para nuestra marca.</p>
                            </div>
                        </div>
                    </label>
                    <input type="radio" name="slide-carrera" id="c4">
                    <label for="c4" class="card-carrera">
                        <div class="row-carrera">
                            <div class="icon-carrera">4</div>
                            <div class="description-carrera">
                                <h4>Ingeniero de Software</h4>
                                <p>Desarrolla software de vanguardia para nuestros clientes.</p>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </section>
</div>
