@{
    ViewData["Title"] = "Inicio";
}


<section class="hero d-flex align-items-center section-animate" style="background-image: url('/images/banner-inicio.webp');">
    <div class="container text-start">
        <h1 class="hero-title">WYA SOLUCIONES <br>INTEGRALES</h1>
        <p class="hero-subtitle">La clave para llevar tu negocio al siguiente nivel</p>
        <div class="scroll-down">
            <a href="#next-section" class="scroll-arrow">
                <svg width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="var(--color-wya-1)" stroke-width="2">
                    <path d="M12 5v14m7-7-7 7-7-7" />
                </svg>
            </a>
        </div>
    </div>
</section>

<div class="section-group">
    <section id="next-section" class="section-animate">
        <div class="container">
            <h2 class="title">ÚLTIMAS NOTICIAS</h2>

            <div class="carousel">
                <div class="carousel-track">
                    <!-- Slide 1 -->
                    <div class="card">
                        <img src="https://picsum.photos/500/300?random=1" alt="Noticia 1" loading="lazy">
                        <div class="card-content">
                            <h3>Noticia 1</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, asperiores
                                saepe distinctio sed suscipit dolore est nam! Animi nisi deserunt doloribus.
                                Alias et similique delectus totam, quis accusamus corporis saepe!
                            </p>
                            <div class="contenedor-boton">
                                <a href="#" class="btn-more">Leer más</a>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 2 -->
                    <div class="card">
                        <img src="https://picsum.photos/500/300?random=2" alt="Noticia 2" loading="lazy">
                        <div class="card-content">
                            <h3>Noticia 2</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, asperiores
                                saepe distinctio sed suscipit dolore est nam! Animi nisi deserunt doloribus.
                                Alias et similique delectus totam, quis accusamus corporis saepe!
                            </p>
                            <div class="contenedor-boton">
                                <a href="#" class="btn-more">Leer más</a>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 3 -->
                    <div class="card">
                        <img src="https://picsum.photos/500/300?random=3" alt="Noticia 3" loading="lazy">
                        <div class="card-content">
                            <h3>Noticia 3</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, asperiores
                                saepe distinctio sed suscipit dolore est nam! Animi nisi deserunt doloribus.
                                Alias et similique delectus totam, quis accusamus corporis saepe!
                            </p>
                            <div class="contenedor-boton">
                                <a href="#" class="btn-more">Leer más</a>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 4 -->
                    <div class="card">
                        <img src="https://picsum.photos/500/300?random=4" alt="Noticia 4" loading="lazy">
                        <div class="card-content">
                            <h3>Noticia 4</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, asperiores
                                saepe distinctio sed suscipit dolore est nam! Animi nisi deserunt doloribus.
                                Alias et similique delectus totam, quis accusamus corporis saepe!
                            </p>
                            <div class="contenedor-boton">
                                <a href="#" class="btn-more">Leer más</a>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 5 -->
                    <div class="card">
                        <img src="https://picsum.photos/500/300?random=5" alt="Noticia 5" loading="lazy">
                        <div class="card-content">
                            <h3>Noticia 5</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, asperiores
                                saepe distinctio sed suscipit dolore est nam! Animi nisi deserunt doloribus.
                                Alias et similique delectus totam, quis accusamus corporis saepe!
                            </p>
                            <div class="contenedor-boton">
                                <a href="#" class="btn-more">Leer más</a>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 6 -->
                    <div class="card">
                        <img src="https://picsum.photos/500/300?random=6" alt="Noticia 6" loading="lazy">
                        <div class="card-content">
                            <h3>Noticia 6</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, asperiores
                                saepe distinctio sed suscipit dolore est nam! Animi nisi deserunt doloribus.
                                Alias et similique delectus totam, quis accusamus corporis saepe!
                            </p>
                            <div class="contenedor-boton">
                                <a href="#" class="btn-more">Leer más</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="indicators">
                    <button class="prev">&#10094;</button>
                    <button class="next">&#10095;</button>
                </div>
            </div>
        </div>
    </section>

    <section class="features-section section-animate my-5">
        <div class="column">
            <h3><i class="fa-solid fa-clock"></i> Puntualidad</h3>
            <p>Tu tiempo es valioso. El nuestro también.</p>
        </div>
        <div class="column">
            <h3><i class="fa-solid fa-briefcase"></i> Experiencia</h3>
            <p>Donde la experiencia habla por sí misma.</p>
        </div>
        <div class="column">
            <h3><i class="fa-solid fa-star"></i> Calidad</h3>
            <p>Donde la calidad es la norma, no la excepción.</p>
        </div>
    </section>



    <section class="features-section section-animate">
        <div class="column-none">
            <h3>WYA Soluciones Integrales:<br> Innovación y Tecnología para <br>Empresas</h3>
            <p>
                Impulsamos a las empresas con soluciones<br> tecnológicas en TI, IA, business intelligence <br>y sistemas
                multiplataforma, optimizando <br>procesos, mejorando decisiones y asegurando<br> la continuidad del negocio.
            </p>
        </div>
        <div class="column">
            <img src="~/images/feacture.webp" alt="WYA WEB Logo" loading="lazy" />
        </div>
    </section>

</div>