@{
    ViewData["Title"] = "Nosotros";
}

<section class="hero d-flex align-items-center" style="background-image: url('/images/banner-nosotros.webp');">
    <div class="container text-start">
        <h1 class="hero-title">WYA SOLUCIONES <br>INTEGRALES</h1>
        <p class="hero-subtitle">Nos dedicamos a ofrecer soluciones <br>de alta calidad adaptadas a las <br>necesidades de nuestros clientes.</p>
        <div class="scroll-down">
            <a href="#next-section" class="scroll-arrow">
                <svg width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="var(--color-wya-1)" stroke-width="2">
                    <path d="M12 5v14m7-7-7 7-7-7" />
                </svg>
            </a>
        </div>
    </div>
</section>

<div class="section-group">
    <section id="next-section" class="py-5">
        <div class="container p-5" style="background: white; border-radius: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
            <h2 class="title">¿QUIÉNES SOMOS?</h2>
            <p>En Grupo WYA, contamos con un equipo de profesionales altamente capacitados y experimentados comprometidos con la excelencia. Nos dedicamos a ofrecer soluciones de alta calidad adaptadas a las necesidades de nuestros clientes. Con experiencia colectiva en diversas industrias, abordamos una amplia gama de desafíos y oportunidades empresariales con enfoque y dedicación.</p>
            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="card-2 p-5">
                        <div class="icon-card">
                            <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#7E14A7" stroke-width="2">
                                <path d="M12 2L9 5H5v4l-3 3 3 3v4h4l3 3 3-3h4v-4l3-3-3-3V5h-4L12 2z" />
                            </svg>
                        </div>
                        <p>Nuestra</p>
                        <h3 class="title">Misión</h3>
                        <p>Nuestra misión es empoderar a las organizaciones con soluciones tecnológicas avanzadas y personalizadas. Transformamos desafíos en oportunidades, brindando servicios de alta calidad. Con innovación constante y un equipo experto, superamos expectativas, asegurando soluciones que no solo aborden los desafíos actuales, sino que preparen a nuestros clientes para el éxito futuro.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-2 p-5">
                        <div class="icon-card">
                            <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#7E14A7" stroke-width="2">
                                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                            </svg>
                        </div>
                        <p>Nuestra</p>
                        <h3 class="title">Visión</h3>
                        <p>Ser el líder en soluciones tecnológicas, impulsando el éxito empresarial a través de la innovación. Buscamos crear un mañana eficiente y sostenible, mejorando operaciones y contribuyendo positivamente a la sociedad. Con excelencia e innovación constante, aspiramos a inspirar progreso sin precedentes en todas las industrias que servimos.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-2">
        <div class="container p-5" style="background-image: url('/images/nuestrosvalores.webp'); background-size: cover; background-position: center; border-radius: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); min-height: 300px; display: flex; align-items: flex-start; justify-content: center;">
            <h3 class="title text-center text-white">NUESTROS VALORES</h3>
        </div>
    </section>
</div>