@{
    ViewData["Title"] = "Servicios";
}


<section class="hero d-flex align-items-center" style="background-image: url('/images/banner-servicios.webp');">
    <div class="container text-start">
        <h1 class="hero-title">Nuestros Servicios</h1>
        <p class="hero-subtitle">Nos especializamos en proporcionar soluciones <br> integrales y estratégicas para potenciar el éxito de tu empresa.</p>
        <div class="scroll-down">
            <a href="#next-section" class="scroll-arrow">
                <svg width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="var(--color-wya-1)" stroke-width="2">
                    <path d="M12 5v14m7-7-7 7-7-7" />
                </svg>
            </a>
        </div>
    </div>
</section>
<div class="section-group">
    <section class="services-section section-animate py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <h2 class="title text-center">Servicios Integrales</h2>
                    <div class="d-flex justify-content-center my-3">
                        <div class="circle-gradient">
                            <i class="bi bi-gear-fill text-white" style="font-size: 2rem;"></i>
                        </div>
                    </div>
                    <p class="section-text">
                        Ofrecemos servicios integrales que abarcan soluciones completas y coordinadas para satisfacer las necesidades de nuestros clientes. Desde consultoría estratégica hasta implementación de tecnologías avanzadas, proporcionamos un enfoque holístico para impulsar el éxito de su empresa.
                    </p>
                </div>
                <div class="col-md-6 mb-4">
                    <h2 class="title text-center">Servicios Dedicados</h2>
                    <div class="d-flex justify-content-center my-3">
                        <div class="circle-gradient">
                            <i class="bi bi-headset text-white" style="font-size: 2rem;"></i>
                        </div>
                    </div>
                    <p class="section-text">
                        Complementamos nuestra oferta principal con servicios adicionales, brindando soluciones especializadas que potencian aún más la eficiencia y el rendimiento de su empresa. Desde asesoría personalizada hasta soporte técnico avanzado, nuestros servicios adicionales están diseñados para superar sus expectativas y agregar un valor significativo a su operación.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>