@{
    ViewData["Title"] = "Error";
}
<section class="error-page">
    <div class="container">
        <div class="error-page-image-container">
            <img src="~/images/404-notfound.webp" alt="404 Not Found" class="error-page-image img-fluid mb-4">
        </div>
        <div class="error-page-not-found">NOT FOUND</div>
        <p class="error-page-subtitle mb-4 text-wya-3">Lo sentimos, no pudimos encontrar la página que buscabas o puede que no <br>tengas permisos. Por favor, contacta con soporte.</p>
        <a href="/home" onclick="navigate('/home'); event.preventDefault();" class="btn btn-outline text-wya-3" style="border-color: var(--wya-3);"><i class="bi bi-arrow-left me-2"></i>Regresar al Inicio</a>
    </div>
</section>