@{
    ViewData["Title"] = "Clientes";
}

<section class="hero d-flex align-items-center" style="background-image: url('/images/banner-clientes.webp');">
    <div class="container text-start">
        <h1 class="hero-title">Nuestros Clientes de WYA</h1>
        <p class="hero-subtitle">Nos enorgullece colaborar con una diversidad de <br>empresas líderes en diferentes industrias. </p>
        <div class="scroll-down">
            <a href="#next-section" class="scroll-arrow">
                <svg width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="var(--color-wya-1)" stroke-width="2">
                    <path d="M12 5v14m7-7-7 7-7-7" />
                </svg>
            </a>
        </div>
    </div>
</section>
<div id="next-section"  class="section-group">
    <section class="section-animate py-5">
        <div class="container">
            <h1 class="title text-center mb-4">NUESTROS CLIENTES</h1>
            <h3 class="sub-title text-center mb-4">
                Ellos ya pusieron su confianza en nosotros
            </h3>
            <div class="d-flex flex-wrap justify-content-center">
                <div class="card-5">
                    <img src="/images/logo-almpes.png" alt="almpes" loading="lazy">
                </div>
                <div class="card-5">
                    <img src="/images/logo-ai.png" alt="ai" loading="lazy">
                </div>
                <div class="card-5">
                    <img src="/images/logo-a365.png" alt="a365" loading="lazy">
                </div>
                <div class="card-5">
                    <img src="/images/logo-alices.png" alt="alices" loading="lazy">
                </div>
            </div>
        </div>
    </section>
    <section class="section-animate">
        <div class="container p-5" style="background: #EEE4F2; border-radius: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">


            <div class="row align-items-center">

                <!-- Texto -->
                <div class="col-md-6">
                    <h2 class="title  mb-5">
                        ¿POR QUÉ NOS ELIGEN NUESTROS CLIENTES?
                    </h2>
                    <p>
                        Destacamos por comprender las necesidades específicas de cada cliente y ofrecer soluciones personalizadas
                        que promueven su éxito empresarial. Actualmente, nuestros clientes confían en nosotros para:
                    </p>

                    <ul>
                        <li>Optimizar procesos operativos y mejorar la eficiencia.</li>
                        <li>Implementar tecnología avanzada que potencie la productividad.</li>
                        <li>Brindar asesoría estratégica para una toma de decisiones informada.</li>
                    </ul>
                </div>

                <!-- Imagen -->
                <div class="col-md-6 mb-4 mb-md-0 d-none d-md-block">
                    <img src="https://picsum.photos/500/300?random=5" alt="Equipo de trabajo" class="img-fluid rounded-4 shadow-sm" style="display: block; margin: 0 auto;" loading="lazy">
                </div>

            </div>
        </div>
    </section>
    <section class="section-animate py-5">
        <div class="gradient-container">
            <h2 class="title text-center text-white" style="margin: 0;">Únete a nosotros y sé parte de nuestra historia de éxito</h2>
        </div>
    </section>
</div>